.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-left, .footer-center, .footer-right {
    flex: 1;
    padding: 0 10px;
  }
  
  .footer-title {
    color: #A0E00D;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .footer-title-right{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-left p {
    margin: 10px 0;
  }
  
  .footer-icons {
    display: flex;
    margin-top: 10px;
  }
  
  .footer-icons a {
    margin-right: 10px;
  }
  
  .footer-icons img {
    width: 24px;
    height: 24px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-list a {
    color: white;
    text-decoration: none;
  }
  
  .footer-list a:hover {
    text-decoration: underline;
    color:#A0E00D;
  }
  
  .footer-bottom {
    background-color: #111;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #444;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .footer-bottom-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom-list li {
    margin: 0 10px;
  }
  
  .footer-bottom-list a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom-list a:hover {
    text-decoration: underline;
    color:#A0E00D;
  }

  .tarjeta {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  