/* Usuario.css */
.estructura{
 height: 700px;
}

.wrapper {
  --input-focus: #A0E00D;
  --font-color: #A0E00D;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --bg-color-alt: #7e7e7e;
  --main-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px); /* Ajusta el tamaño para dejar espacio para el footer */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 100px; /* Añade margen inferior para el espacio del footer */
}

.card-switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px; /* Ajusta el ancho según sea necesario */
  margin-bottom: 500px;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: 'IniciarSesion';
  left: -100px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 500;
}

.card-side::after {
  position: absolute;
  content: 'Registrarse';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */

.flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front,
.flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 5px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}


/* Estilos para los iconos de redes sociales */
.social-media-icons-container {
  display: flex;
  justify-content: space-between;
  gap: 30px; /* Define el espacio entre cada icono */
  margin-bottom: 15px; /* Añade margen inferior para separarlo del resto del formulario */
}

.social-media-icon {
  color: white; /* Color de los iconos */
  transition: color 0.3s ease; /* Transición suave para el color cuando se haga hover */
}

.social-media-icon:hover {
  color: #A0E00D; /* Color del hover, puedes cambiar este color según el diseño */
  cursor: pointer; /* Cambia el cursor cuando pasas el ratón sobre los iconos */
}

/* Estilos para los mensajes de éxito/error */
.message-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 1000;
  text-align: center;
}

.message-container.success {
  border: 1px solid #4CAF50;
}

.message-container.error {
  border: 1px solid #F44336;
}

.message-container p {
  color: #333;
  font-size: 16px;
}

.message-container button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.message-container.success button {
  background-color: #4CAF50;
  color: white;
}

.message-container.error button {
  background-color: #F44336;
  color: white;
}

/* Estilos para los iconos en el mensaje de éxito/error */
.success-icon,
.error-icon {
  font-size: 48px;
  margin-bottom: 10px;
}

.success-icon {
  color: #4CAF50;
}

.error-icon {
  color: #F44336;
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.white {
  text-decoration: underline;
  color: white;
  font-size: 16px;

}
.privacy-policy input[type="checkbox"] {
  display: none; /* Hide default checkbox */
  margin: 2px;
}

.privacy-policy input[type="checkbox"] + span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white; /* Customize your color here */
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.privacy-policy input[type="checkbox"]:checked + span::after {
  content: '✓';
  color: #A0E00D;
  background-color: black;
  width: 16px;
  height: 16px;
  font-size: 16px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0px;
}


/* Media Queries for Responsiveness */

@media (max-width: 768px) {
.wrapper {
  padding: 20px;
  min-height: calc(100vh - 50px); /* Deja más espacio para el footer en pantallas más pequeñas */
}

.flip-card__inner {
  width: 250px;
  height: 300px;
}

.flip-card__input {
  width: 200px;
  height: 35px;
}

.flip-card__btn {
  width: 100px;
  height: 35px;
}

.social-account-container .social-accounts .social-button {
  width: 35px;
  height: 35px;
}
}

@media (max-width: 480px) {
.wrapper {
  padding: 10px;
  min-height: calc(100vh - 50px); /* Deja más espacio para el footer en pantallas más pequeñas */
}

.flip-card__inner {
  width: 200px;
  height: 250px;
}

.flip-card__input {
  width: 150px;
  height: 30px;
}

.flip-card__btn {
  width: 90px;
  height: 30px;
}

.social-account-container .social-accounts .social-button {
  width: 30px;
  height: 30px;
}
}
