/* Aplicar a todo el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    background: url('../../public/bannerreg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Contenedor del formulario */
/* RegistrationForm.css */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the form takes the full viewport height */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background color with opacity */
}

.registration-form {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
  
  h2 {
    margin-top: 0;
    text-align: center;
    color: #A0E00D;
  }
  
  p{
    color: #ffffff;
    text-align: center;
  }
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #A0E00D;
    border-radius: 5px;
    color: #A0E00D;
    background-color: #070806;
  }
  
  .form-button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #A0E00D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-button:hover {
    background-color: #333333;
  }
  
  /* Estilo para los botones individuales de redes sociales */
  .button {
    flex: 1;
    margin-top: 10px;
  }
  
  /* Botón de Facebook */
  .button.facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .button.facebook:hover {
    background-color: #2d4373;
  }
  
  /* Botón de Google */
  .button.google {
    background-color: #db4437;
    color: white;
  }
  
  .button.google:hover {
    background-color: #c33d2d;
  }
  
  /* Botón de Apple */
  .button.apple {
    background-color: #000000;
    color: white;
  }
  
  .button.apple:hover {
    background-color: #333333;
  }
  /* Estilo para el enlace */
  .registration-form p a {
    color: #A0E00D;
    text-decoration: none;
  }
  
  .registration-form p a:hover {
    text-decoration: underline;
  }